<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidebarstyle">
      <mat-list role="list">                                <!--con [routerLinkActice]="'active'", gli dicendo che quando è attivo questo link mi ci mette la classe active  -->
        <mat-list-item role="listitem" routerLink="pagina1" [routerLinkActive]="'active'" class="listitem">Pagina 1</mat-list-item>
        <mat-list-item role="listitem" routerLink="pagina2" routerLinkActive="active" class="listitem">Pagina 2</mat-list-item> <!--qui e la stessa cosa del primo routerLinkActive  però senza parentesi[] e senza le singole ''nel nome active-->
        <mat-list-item role="listitem" routerLink="pagina3" [routerLinkActive]="'active'" class="listitem">Pagina 3</mat-list-item>
      </mat-list>
      <button mat-icon-button class="example-icon bottom-logout-button" aria-label="Example icon-button with share icon" (click)="logout()">
        <mat-icon class="colorButtonLogout">logout</mat-icon>
      </button>
      </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span class="example-spacer"></span>
        
      </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

