.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
.sidebarstyle{
  background-color: rgb(55, 134, 223);
  position:absolute
}

  .bottom-logout-button {
    position: absolute;
    bottom: 0;
    left: 20%; 
  }

  .active{
    background-color: rgb(101, 202, 135);
  }

  .example-spacer {
    flex: 1 1 auto;
  } 

  .listitem{
    border-radius: 50%;
    
  }
  .colorButtonLogout{
    color:  rgb(101, 202, 135);
  }
 