.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .bottom-logout-button {
    position: absolute;
    bottom: 0;
    left: 20%; 
  }

  .active{
    background-color: red;
  }

  .example-spacer {
    flex: 1 1 auto;
  } 
  mat-list{
    margin-top: 58%;
    
  }
  .listitem{
    border-radius: 50%;
    border-style:hidden
  }
 