<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-list role="list">
        <mat-list-item role="listitem" routerLink="pagina1">Pagina 1</mat-list-item>
        <mat-list-item role="listitem" routerLink="pagina2">Pagina 2</mat-list-item>
        <mat-list-item role="listitem" routerLink="pagina3">Pagina 3</mat-list-item>
      </mat-list>
      </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

