

<div class="cardsStyle">
  <mat-card class="cardBody" appearance="outlined" *ngFor="let card of cards" style="border: 0px;">
    <div class="cardStyle">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card.nome }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="imageStyle" [src]="card.immagine" alt="{{ card.name }}">
    <mat-card-content>
      <p>{{ card.descrizione }}</p>
      <span>{{card.tipoAnimale}}</span>
      <span style="margin-left: 20px;">Taglia:{{card.taglia}}</span>
    </mat-card-content>
  </div>
  </mat-card>
</div>