<div class="imageStyle">
  <mat-card class="example-card" appearance="outlined" *ngFor="let card of CardsGatti">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card.nome }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="cardGattoStyle" [src]="card.immagine" alt="{{ card.name }}">
    <mat-card-content>
      <p>{{ card.descrizione }}</p>
      <span>{{card.tipoAnimale}}</span>
      <span>{{card.taglia}}</span>
    </mat-card-content>
  </mat-card>
</div>
