.cardsCatStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;  
    margin-right: 10px;  
}
.cardCatBody{
    margin-top: 5%;
    margin-left: 3%;
    width: 300px;
    min-height: 300px;
    height: auto;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

.cardCatStyle{
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgb(55, 134, 223) ;
    border-radius: 10px;
    width: 100%;
    
   
}

.imageStyle{
    display: flex;
    width: 100%;
    height: 250px;
    object-fit:cover;
    margin: 0 auto;
       
}

