<h1>Login</h1>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" required ngModel>
  </mat-form-field>
  <mat-form-field>
    <mat-label>password</mat-label>
    <input matInput type="password" name="password" required ngModel>
  </mat-form-field>
  <div class="loginFormStyle">
  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Accedi</button>
  <button mat-raised-button color="primary" type="button" (click)="register()">registrati</button>
</div>
</form>
